<html>
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
<form action = '/editprofile' method="POST">
  <label for="fname">First Name: </label>
  <input type="text" name="fname" ><br>

  <label for="mname">MiddleName: </label>
  <input type="text" name="mname" ><br>

  <label for="lname">Last Name: </label>
  <input type="text" name="lname" ><br>


  <label for="address">Address: </label>
  <input type="text" name="address"><br><br>

  <label for="email">Email: </label>
  <input type="text" name="email"><br><br>

  <label for="contactnumber">contact Number: </label>
  <input type="text" name="contactnumber"><br><br>

  <label for="company">Company: </label>
  <input type="text" name="company"><br><br>
  <input type="submit" value="Submit">
</form>

</body>
</html>