<!DOCTYPE html>
<html lang="en">

<head>
    <title>My title</title>
</head>

<body>
    <table>
    	<thead>
    		<th>ID Request</th>
    		<th>Status</th>
    		<th>Requested By</th>
    		<th>Requested To</th>
            <th>Service ID</th>
    		<th>Action</th>
    	</thead>
    	<tbody>
    		{% for row in data %}
    		<tr>
    			<form action ='/addReqSuccess' method = 'POST'>
    			<td>{{row[0]}}</td>
    			<td>{{row[1]}}</td>
    			<td>{{row[2]}}</td>
    			<td>{{row[3]}}</td>
                <td>{{row[4]}}</td>
                <td><button name = 'reject' value="{{row[0]}}">Reject Request</button>
    			</form>
    		</tr>
    		{% endfor %}
    	</tbody>
    </table>
</body>

</html>