.btn, .btn-primary{
    margin-left: 35%;
}

#createAcc{
    padding-left:40%;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: #FFE9E8;
}

.header, .black-bg{
	background-color: hotpink;
}

