<html>
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
    <table>
        <thread>
            <th>Request ID</th>
            <th>Status</th>
            <th>Requested By</th>
            <th>Requested To</th>
            <th>Service ID</th>
            <th>Date Requested</th>
        </thread>
        <tbody>
            {% for row in request %}
            <tr>
                <form action="/manageReq" method="get">
                <td>{{row[0]}}</td>
                <td>{{row[1]}}</td>
                <td>{{row[2]}}</td>
                <td>{{row[3]}}</td>
                <td>{{row[4]}}</td>
                <td>{{row[5]}}</td>
                </form>
            </tr>
        </tbody>
    </table>
</body>
</html>